.app-list{
  margin-top: 20px;
}

.app-list-row{
  display: flex;
  justify-content: space-between;
}

.todo{

}

.todo-content{
  width: -webkit-calc(100% - 65px);
  width: -moz-calc(100% - 65px);
  width: calc(100% - 65px);
  padding-left: 20px;
  font-size: 22px;
  text-transform: capitalize;
}

.todo-complete{
  padding: 0;
  background: transparent;
  border: 0;
  color: #FFF;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
}

.todo-check-wrap{
  width: 25px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.todo-text.completed{
    text-decoration: line-through;
}