body {
  margin: 0;
  font-family: 'Roboto Condensed',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FFF;

  /* background-color: #3d424a; */
  /* background-color: #343a40; */
  /* background-color: #464d57; */
}
